


.dark {
    width: 100%;
    padding: 10px;
  }

  
  .contacto{
    position: relative;
    right: 1px;
    bottom: 5px;
   
  }



  .button{
    font-size: larger;
    border-radius: 8px;

  }

  